@import './constants';


.about {
  align-items: center;
  display: flex;
  justify-content: center;

  .box {
    background-size: 50%;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: $content-max-width;
    padding: 5.1em 4em 5.1em 4em;
    text-align: center;
    width: $content-width;

    p {
      max-width: 520px;
    }
  }
}
